<% if logged_in? %>
    <%= render 'share/login_nav' %>
    <section class="container">
        <div class="row">
            <div class="blk col-12 col-lg-8 border-end border-dark-50">
                <div class="pt-5">
                    <% for i in 0..5 %>
                        <div class="pb-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <%= image_tag "image.jpg",height: 24, class:"rounded-circle me-2" %>
                                        <p class="m-0"><span class="fs-6 me-1 fw-bold">Garrick McFadden</span><span class="me-1">.</span><span class="text-black-50">15 hours ago</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <h4 class="fw-bolder">Beach Globe Paradise</h4>
                                    <p class="m-0 d-none d-md-block" style="color: rgba(41, 41, 41, 1);line-height:1.7;text-align:justify;">Amber's glow spans skies — write us some place nice, she said I plop chairs on a beach somewhere — one hand grips a frosty margarita and the other well, the other flips off life violently forbidden contestants on...</p>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <%= image_tag "login.jfif", class:"img-fluid" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="align-items-end" style="color:rgba(117, 117, 117, 1);">
                                            <span class="rounded-pill d-inline-block px-3 pb-1" style="background-color: rgba(242, 242, 242, 1);">Health</span> <span class="mx-1">.</span> <span>9 min read</span> <span class="mx-1">.</span> <span class="d-none d-md-inline-block">Selected for you</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center fs-2">
                                            <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none" class="tz"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                                            <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18zM8.25 12h7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.39 12c0 .55.2 1.02.59 1.41.39.4.86.59 1.4.59.56 0 1.03-.2 1.42-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.6-1.41A1.93 1.93 0 0 0 6.4 10c-.55 0-1.02.2-1.41.59-.4.39-.6.86-.6 1.41zM10 12c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.54 0 1.02-.2 1.4-.59.4-.39.6-.86.6-1.41 0-.55-.2-1.02-.6-1.41a1.93 1.93 0 0 0-1.4-.59c-.55 0-1.04.2-1.42.59-.4.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.57 1.41.4.4.88.59 1.43.59.57 0 1.04-.2 1.43-.59.39-.39.57-.86.57-1.41 0-.55-.2-1.02-.57-1.41A1.93 1.93 0 0 0 17.6 10c-.55 0-1.04.2-1.43.59-.38.39-.57.86-.57 1.41z" fill="#000"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="d-none d-lg-block col-4 pt-5 ps-5 position-relative">
                <div class="sticky-top" style="top:120px">
                    <h3 class="fw-bolder mb-4">2022 in Latest Posts</h3>
                    <div class="pb-4 border-bottom border-dark-50">
                        <% for i in 0..2 %>
                            <div class="d-flex align-items-center mb-2">
                                <%= image_tag "image.jpg",height: 24, class:"rounded-circle me-2" %>
                                <p class="m-0"><span class="fs-6 me-1">Barack Obama</span>
                            </div>
                            <p class="fw-bolder fs-6">My 2022 End of Year Lists</p>
                        <% end %>
                    </div>
                    <div class="pt-5">
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Business</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Python</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Health</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Science</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Mental Health</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Life</span>
                        <span class="rounded-pill d-inline-block mb-3 px-4 py-2" style="background-color: rgba(242, 242, 242, 1);">Software Development</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% else %>
    <%= render 'share/nav' %>
    <section class="blk container-fluid border-bottom border-dark" style="background-color:#FFC017">
    <div class="row py-5">
        <div class="col-12 pb-5">
        <div class="container">
            <div class="row">
            <div class="col-lg-7 col-12">
                <h1 class="mt-3 mb-4 title">Stay curious.</h1>
                <p class="fs-4 w-lg-75 mb-5 pe-5">Discover stories, thinking, and expertise from writers on any topic.</p>
                <a class="rounded-pill fs-5 text-bg-dark d-inline-block px-5 py-2 text-decoration-none" href="#">Start Reading</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <section class="container pt-5">
    <div class="row flex-row-reverse">
        <div class="col-lg-4 col-12" style="z-index: 1;">
            <div style="position:sticky;top:127px">
                <h5>CATEGORY</h5>
                <div class="mt-4 pb-4">
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Programming</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Data Science</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Technology</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Self Improvement</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Writing</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Relationships</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Machine Learning</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Productivity</a>
                    <a class="border mb-2 me-1 rounded d-inline-block text-decoration-none px-2 px-md-3 py-2" style="color:rgba(117, 117, 117, 1);" href="#">Politics</a>
                </div>
                <div class="d-lg-block d-none border-bottom">
                    <p class="d-none"></p>
                </div>
                <div class="mt-4 d-none d-lg-block">
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Help</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Status</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Writers</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Blog</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Carrers</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Privacy</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Terms</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">About</a>
                    <a class="text-decoration-none d-inline-block me-4 fs-6 mb-2" style="color:rgba(117, 117, 117, 1);" href="#">Text to speech</a>
                </div>
            </div>
        </div>
        <hr class="d-lg-none mb-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-7 col-12">
            <% for i in 0..5 %>
            <div class="mb-5">
                <div class="row">
                    <div class="col-8">
                        <div class="d-flex justify-content-start align-items-center mb-0 mb-md-2">
                            <%= image_tag "image.jpg",height: 30, class:"rounded-circle" %>
                            <p class="fw-bold px-2 m-0">Dr. Tom Frieden</p>
                        </div>
                        <p class="fw-bold fs-5 fs-md-3">Understanding Long Covid</p>
                        <p class="fs-6 d-none d-md-block" style="color:rgba(117, 117, 117, 1);font-weight:500;">We know more now than before, and its still alarming</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="align-items-end" style="color:rgba(117, 117, 117, 1);">
                                <span>Dec 20</span> <span class="mx-1">.</span> <span>9 min read</span> <span class="mx-1">.</span> <span class="d-none d-md-inline-block rounded-pill d-inline-block px-3 pb-1" style="background-color: rgba(242, 242, 242, 1);">Long Covid</span>
                            </div>
                            <div class="fs-2 txt-color more-icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="tz"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <%= image_tag "one.png", class:"product-img img-fluid" %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    </section>
<%end%>



