<style>
    .txt-color{
        color: rgba(117,117,117,1);
    }

    .search-div{
      background: rgba(250, 250, 250, 1);
      border-radius: 20px;
      width: 240px;
    }

    .search-div input{
      outline: none;
      background: rgba(250, 250, 250, 1);
      font-size: 14px;
      font-weight: 500;
    }

    @media only screen and (max-width: 768px) {
        .blk{
            border: none !important;
        }
    }
</style>
<section class="d-lg-none border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center py-2">
                <p class="txt-color m-0">
                    <span>Open in app</span>
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" class="mi"><path d="M.98 8.48a.37.37 0 1 0 .54.54l-.54-.54zm7.77-7.23h.38c0-.2-.17-.38-.38-.38v.38zM8.37 6.5a.37.37 0 1 0 .76 0h-.76zM3.5.87a.37.37 0 1 0 0 .76V.88zM1.52 9.03l7.5-7.5-.54-.54-7.5 7.5.54.54zm6.86-7.77V6.5h.74V1.25h-.74zm-4.88.38h5.25V.88H3.5v.74z" fill="currentColor"></path></svg>
                </p>
                <p class="m-0">
                    <a class="rounded-pill d-inline-block text-bg-dark d-inline-block text-decoration-none py-1 px-2" href="#" style="font-size: 11px;">Get unlimited access</a>
                </p>
            </div>
        </div>
    </div>
</section>
<nav class="navbar border-bottom border-dark sticky-top w-100" style="background-color:#fff;z-index:2;border-bottom:1px solid rgba(242, 242, 242, 1);">
    <div class="container py-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="navbar-brand ps-3 pe-1 py-0 fs-4 fw-bold" href="#">
                <svg viewBox="0 0 1043.63 592.71" style="height:25px"><g data-name="Layer 2"><g data-name="Layer 1"><path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path></g></g></svg>
            </a>
            <div class="d-none d-md-flex search-div align-items-center p-2">
                <div class="mx-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.1 11.06a6.95 6.95 0 1 1 13.9 0 6.95 6.95 0 0 1-13.9 0zm6.94-8.05a8.05 8.05 0 1 0 5.13 14.26l3.75 3.75a.56.56 0 1 0 .8-.79l-3.74-3.73A8.05 8.05 0 0 0 11.04 3v.01z" fill="currentColor"></path></svg>
                </div>
                <input type="text" class="border border-0" name="search" placeholder="Search Medium">
            </div>
        </div>
        <ul class="d-flex align-items-center m-0">
            <li class="d-md-none nav-item list-unstyled pe-4">
                <a class="nav-link txt-color" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Search"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.1 11.06a6.95 6.95 0 1 1 13.9 0 6.95 6.95 0 0 1-13.9 0zm6.94-8.05a8.05 8.05 0 1 0 5.13 14.26l3.75 3.75a.56.56 0 1 0 .8-.79l-3.74-3.73A8.05 8.05 0 0 0 11.04 3v.01z" fill="currentColor"></path></svg>
                </a>
            </li>
            <li class="d-none d-md-block nav-item list-unstyled pe-3">
                <a class="nav-link txt-color" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Write"><path d="M14 4a.5.5 0 0 0 0-1v1zm7 6a.5.5 0 0 0-1 0h1zm-7-7H4v1h10V3zM3 4v16h1V4H3zm1 17h16v-1H4v1zm17-1V10h-1v10h1zm-1 1a1 1 0 0 0 1-1h-1v1zM3 20a1 1 0 0 0 1 1v-1H3zM4 3a1 1 0 0 0-1 1h1V3z" fill="currentColor"></path><path d="M17.5 4.5l-8.46 8.46a.25.25 0 0 0-.06.1l-.82 2.47c-.07.2.12.38.31.31l2.47-.82a.25.25 0 0 0 .1-.06L19.5 6.5m-2-2l2.32-2.32c.1-.1.26-.1.36 0l1.64 1.64c.1.1.1.26 0 .36L19.5 6.5m-2-2l2 2" stroke="currentColor"></path></svg>
                    <span>Write</span>
                </a>
            </li>
            <li class="nav-item list-unstyled pe-3">
                <a class="nav-link txt-color" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Notifications"><path d="M15 18.5a3 3 0 1 1-6 0" stroke="currentColor" stroke-linecap="round"></path><path d="M5.5 10.53V9a6.5 6.5 0 0 1 13 0v1.53c0 1.42.56 2.78 1.57 3.79l.03.03c.26.26.4.6.4.97v2.93c0 .14-.11.25-.25.25H3.75a.25.25 0 0 1-.25-.25v-2.93c0-.37.14-.71.4-.97l.03-.03c1-1 1.57-2.37 1.57-3.79z" stroke="currentColor" stroke-linejoin="round"></path></svg>
                </a>
            </li>
            <li class="nav-item list-unstyled">
                <div class="dropdown border border-0">
                    <a class="btn dropdown-toggle border border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= image_tag "image.jpg",height: 30, class:"rounded-circle" %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item py-2 txt-color" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Write"><path d="M14 4a.5.5 0 0 0 0-1v1zm7 6a.5.5 0 0 0-1 0h1zm-7-7H4v1h10V3zM3 4v16h1V4H3zm1 17h16v-1H4v1zm17-1V10h-1v10h1zm-1 1a1 1 0 0 0 1-1h-1v1zM3 20a1 1 0 0 0 1 1v-1H3zM4 3a1 1 0 0 0-1 1h1V3z" fill="currentColor"></path><path d="M17.5 4.5l-8.46 8.46a.25.25 0 0 0-.06.1l-.82 2.47c-.07.2.12.38.31.31l2.47-.82a.25.25 0 0 0 .1-.06L19.5 6.5m-2-2l2.32-2.32c.1-.1.26-.1.36 0l1.64 1.64c.1.1.1.26 0 .36L19.5 6.5m-2-2l2 2" stroke="currentColor"></path></svg>
                                <span class="ms-3">Write</span>
                            </a>
                        </li>
                        <div style="background-color: rgb(230, 230, 230);margin: 8px 16px;height:2px;width:24px;"></div>
                        <li>
                            <a class="dropdown-item py-2 txt-color" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Profile"><circle cx="12" cy="7" r="4.5" stroke="currentColor"></circle><path d="M3.5 21.5v-4.34C3.5 15.4 7.3 14 12 14s8.5 1.41 8.5 3.16v4.34" stroke="currentColor" stroke-linecap="round"></path></svg>
                                <span class="ms-3">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item pb-2 txt-color" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Lists"><path d="M6.44 6.69h0a1.5 1.5 0 0 1 1.06-.44h9c.4 0 .78.16 1.06.44l.35-.35-.35.35c.28.28.44.66.44 1.06v14l-5.7-4.4-.3-.23-.3.23-5.7 4.4v-14c0-.4.16-.78.44-1.06z" stroke="currentColor"></path><path d="M12.5 2.75h-8a2 2 0 0 0-2 2v11.5" stroke="currentColor" stroke-linecap="round"></path></svg>
                                <span class="ms-3">Lists</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item pb-2 txt-color" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Stories"><path d="M4.75 21.5h14.5c.14 0 .25-.11.25-.25V2.75a.25.25 0 0 0-.25-.25H4.75a.25.25 0 0 0-.25.25v18.5c0 .14.11.25.25.25z" stroke="currentColor"></path><path d="M8 8.5h8M8 15.5h5M8 12h8" stroke="currentColor" stroke-linecap="round"></path></svg>
                                <span class="ms-3">Stories</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item pb-2 txt-color" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Stats"><path d="M2.75 19h4.5c.14 0 .25-.11.25-.25v-6.5a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25v6.5c0 .14.11.25.25.25zM9.75 19h4.5c.14 0 .25-.11.25-.25V8.25a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25v10.5c0 .14.11.25.25.25zM16.75 19h4.5c.14 0 .25-.11.25-.25V4.25a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25v14.5c0 .14.11.25.25.25z" stroke="currentColor"></path></svg>
                                <span class="ms-3">Stats</span>
                            </a>
                        </li>
                        <hr>
                        <li><a class="dropdown-item py-2 txt-color" href="#">Settings</a></li>
                        <li><a class="dropdown-item pb-2 txt-color" href="#">Refine Recommendations</a></li>
                        <li><a class="dropdown-item pb-2 txt-color" href="#">Manage Publications</a></li>
                        <hr>
                        <li>
                            <a class="dropdown-item txt-color d-flex justify-content-between" href="#">
                                <span>Become a member</span>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg>
                            </a>
                        </li>
                        <li><a class="dropdown-item py-2 txt-color" href="#">Apply to the Partner Program</a></li>
                        <li><a class="dropdown-item pb-2 txt-color" href="#">Gift a membership</a></li>
                        <hr>
                        <li><a class="dropdown-item py-2 txt-color" href="#">Sign Out</a></li>
                        <li><a class="dropdown-item pb-2 txt-color" href="#">scm.myattheingiaung@gmail.com</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="container">
    <div class="row border-bottom">
        <div class="col-12 blk col-lg-8 border mb-5 border-top-0 border-start-0 border-bottom-0 pt-5 pe-3">
            <div class="d-flex mb-3 me-4 justify-content-between align-items-center">
                <div class="d-flex">
                    <%= image_tag "image.jpg",height: 40, class:"rounded-circle" %>
                    <div class="ms-3">
                        <p class="mb-0 fw-bold">Chit Thu Wai</p>
                        <span class="txt-color">Nov 30</span> <span>.</span> <span class="txt-color">7 min read</span> <span>.</span>
                    </div>
                </div>
                <div class="me-4">
                    <a href="#" class="badge rounded-pill bg-danger px-3 py-2 text-decoration-none text-white">Delete</a>
                </div>
            </div>
            <%= image_tag "show.jfif", class:"img-fluid mb-4" %>
            <p class="fs-3 fw-bold mb-4">A Recent Study Debunked The Serotonin Link to Depression</p>
            <p class="lh-lg" style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
            </p>
            <p class="lh-lg" style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
            </p>
            <p class="lh-lg" style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
            </p>
            <p class="lh-lg" style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
            </p>
        </div>
        <div class="col-4 d-none d-lg-block py-5 position-relative">
            <div class="py-5 sidebar px-4">
                <%= image_tag "image.jpg",height: 70, class:"rounded-circle mb-3" %>
                <p class="fs-5 fw-bold m-0 pb-2">Chit Thu Wai</p>
                <p class="txt-color fw-bold">100 Posts</p>
                <p class="txt-color">54+ autistic, undiagnosed dyslexic, sufferer of chronic migraines, writer of dark science fiction, player of Genshin Impact and Mike Pondsmith Fan. Race- Human.</p>
                <div>
                    <p class="fs-5" style="font-weight:500;">More from Medium</p>
                    <div>
                        <% for i in 0..4 %>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="d-flex align-items-center mb-2">
                                        <%= image_tag "image.jpg",height: 20, class:"rounded-circle" %>
                                        <div class="ms-2">
                                            <p class="mb-0">Chit Thu Wai</p>
                                        </div>
                                    </div>
                                    <p class="fw-bold fs-6">4 Things You Should Know About Kids Who Go No Contact With Their Parents</p>
                                </div>
                                <div class="col-4">
                                    <%= image_tag "two.jfif",height: 56,width: 56, class:"img-fluid" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row pt-4">
        <div class="col-12">
            <p><span class="fw-bold">Comment</span> <span class="badge ms-3 rounded-pill bg-secondary">3</span></p>
            <div class="mx-md-5">
                <%= form_with local: true do |form| %>               
                    <p>
                        <%= form.label :comment , "Here you can left message!" ,class:"mb-2" %><br>
                        <%= form.text_area :comment, :size => "50x3" , class:"form-control w-100 comment-area", placeholder:"What are you thoughts" %>
                    </p>
                    <p class="d-flex justify-content-end"> 
                        <%= form.submit "Comment", class:'btn btn-secondary' %>
                    </p>
                <% end %>
                <div class="mt-4">
                    <% for i in 0..3 %>
                        <div class="mb-5">
                            <div class="d-flex mb-2">
                                <%= image_tag "image.jpg",height: 50, class:"rounded-circle" %>
                                <div class="ms-3">
                                    <p class="mb-0 fw-bold">Chit Thu Wai</p>
                                    <span class="txt-color">2 min ago</span> 
                                </div>
                            </div>
                            <p style="font-weight:500">Good! Thank You</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="" style="height:1000px;"></section>
<script>
    $(document).ready(function(){
        $(function () {
        $(document).scroll(function () {
            var $sidebar = $(".sidebar");
            $result = $sidebar.height() -window.innerHeight;
            $result = $result + 150;
            if($(this).scrollTop()){
                $sidebar.css('position','sticky');
                $sidebar.css('top', -$result+'px')
            }
            });
        })
    });
</script>

