<section class="d-lg-none border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center py-2">
                <p class="txt-color m-0">
                    <span>Open in app</span>
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" class="mi"><path d="M.98 8.48a.37.37 0 1 0 .54.54l-.54-.54zm7.77-7.23h.38c0-.2-.17-.38-.38-.38v.38zM8.37 6.5a.37.37 0 1 0 .76 0h-.76zM3.5.87a.37.37 0 1 0 0 .76V.88zM1.52 9.03l7.5-7.5-.54-.54-7.5 7.5.54.54zm6.86-7.77V6.5h.74V1.25h-.74zm-4.88.38h5.25V.88H3.5v.74z" fill="currentColor"></path></svg>
                </p>
                <p class="m-0">
                    <a class="rounded-pill d-inline-block text-bg-dark d-inline-block text-decoration-none py-1 px-2" href="#" style="font-size: 11px;">Get unlimited access</a>
                </p>
            </div>
        </div>
    </div>
</section>
<%= render 'share/login_nav' %>
<section class="container">
    <div class="row border-bottom">
        <div class="blk col-12 col-lg-8 border mb-5 border-top-0 border-start-0 border-bottom-0 pt-5 pe-3">
            <div class="d-flex mb-3 me-4 justify-content-between align-items-center">
                <div class="d-flex">
                    <%= image_tag "image.jpg",height: 40, class:"rounded-circle" %>
                    <div class="ms-3">
                        <p class="mb-0 text-capitalize fw-bold"><%= @post.user.name %></p>
                        <span class="txt-color"><%= time_ago_in_words(@post.created_at) %></span> <span>.</span> <span class="txt-color">7 min read</span> <span>.</span>
                    </div>
                </div>
                <div class="me-4">
                    <span class="badge rounded-pill bg-danger px-3 py-2"><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white text-decoration-none" %></span>
                </div>
            </div>
            <% if @post.image.attached? %>
                <img src="<%= (url_for(@post.image)) %>" class="img-fluid mb-4" width="100%" height="300px">
            <% end %>
            <p class="fs-3 fw-bold mb-4"><%= @post.title%></p>
            <p class="lh-lg" style="text-align: justify;">
                <%=raw @post.description %>
            </p>
        </div>
        <div class="col-4 d-none d-lg-block py-5 position-relative">
            <div class="py-5 sidebar px-4">
                <%= image_tag "image.jpg",height: 70, class:"rounded-circle mb-3" %>
                <p class="fs-5 fw-bold m-0 text-capitalize pb-2"><%= @post.user.name %></p>
                <p class="txt-color fw-bold"><%= @posts.count %> Posts</p>
                <p class="txt-color"><%= @post.user.bio %></p>
                <div>
                    <p class="fs-5" style="font-weight:500;">More from Medium</p>
                    <div>
                        <% @posts.each do |post| %>
                            <div class="row mb-3">
                                <div class="col-9">
                                    <div class="d-flex align-items-center mb-2">
                                        <%= image_tag "image.jpg",height: 20, class:"rounded-circle" %>
                                        <div class="ms-2">
                                            <p class="mb-0 text-capitalize"><%= post.user.name %></p>
                                        </div>
                                    </div>
                                    <p class="fw-bold fs-6" style="letter-spacing:1px;"><%= post.title %></p>
                                </div>
                                <div class="col-3 d-flex justify-content-end">
                                    <% if @post.image.attached? %>
                                        <img src="<%= (url_for(post.image)) %>" class="img-fluid mb-4" width="56px" height="56px">
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%# comment %>
<section class="container">
    <div class="row pt-4">
        <div class="col-12">
            <p><span class="fw-bold">Comment</span> <span class="badge ms-3 rounded-pill bg-secondary"><%= @comments.count if @comments %></span></p>
            <div class="mx-md-5">
                <%= form_with model: @comment, url: '/comment', method: :post do |form| %>     
                    <%= form.hidden_field :user_id, :value => session[:user_id] %>
                    <%= form.hidden_field :post_id, :value => @post.id %>         
                    <p>
                        <%= form.label :comment , "Here you can left message!" ,class:"mb-2" %><br>
                        <%= form.text_area :comment, :size => "50x3" , class:"form-control w-100 comment-area", placeholder:"What are you thoughts" %>
                        <span class="mb-4 d-block text-danger fw-bold" style="font-size:14px;"><%= form.object.errors.full_messages_for(:comment).to_sentence %></span>
                    </p>
                    <p class="d-flex justify-content-end"> 
                        <%= form.submit "Comment", class:'btn btn-secondary' %>
                    </p>
                <% end %>
                <div class="mt-4">
                    <% @comments.each do |comment| %>
                        <div class="mb-5">
                            <div class="d-flex mb-2">
                                <%= image_tag "image.jpg",height: 50, class:"rounded-circle" %>
                                <div class="ms-3">
                                    <p class="mb-0 fw-bold text-capitalize"><%= comment.user.name %></p>
                                    <span class="txt-color"><%= time_ago_in_words(comment.created_at) %> ago</span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p style="font-weight:500;background-color:#e4e5e7;" class="p-2 rounded"><%= comment.comment %></p>
                                </div>
                                <div class="col-12 justify-content-end">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="" class="reply-btn-<%= comment.id %> btn btn-secondary me-2">Reply</a>
                                        <a href="" class="edit-btn-<%= comment.id %> btn btn-warning me-2">Edit</a>
                                        <a href="/comment/<%= comment.id %>" class="btn btn-danger" data-method="delete" data-confirm="Are you sure">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <%= render partial: 'reply', locals: {comment: comment} %>
                            <%= render partial: 'edit', locals: {comment: comment} %>                           
                            <div class="row ms-5">
                                <div class="col-12">
                                    <% comment.comments.each do |comment| %>
                                        <div class="d-flex mb-2">
                                            <%= image_tag "image.jpg",height: 50, class:"rounded-circle" %>
                                            <div class="ms-3">
                                                <p class="mb-0 fw-bold text-capitalize"><%= comment.user.name %></p>
                                                <span class="txt-color"><%= time_ago_in_words(comment.created_at) %> ago</span> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p style="font-weight:500;background-color:#e4e5e7;" class="p-2 rounded"><%= comment.comment %></p>
                                            </div>
                                            <div class="col-12 justify-content-end">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a href="" class="edit-btn-<%= comment.id %> btn btn-warning me-2">Edit</a>
                                                    <a href="/comment/<%= comment.id %>" class="btn btn-danger" data-method="delete" data-confirm="Are you sure">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <%= render partial: 'reply', locals: {comment: comment} %>
                                        <%= render partial: 'edit', locals: {comment: comment} %>
                                    <% end %>
                                </div>
                            </div>
                        </div>                      
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

