<section class="d-lg-none border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center py-2">
                <p class="txt-color m-0">
                    <span>Open in app</span>
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" class="mi"><path d="M.98 8.48a.37.37 0 1 0 .54.54l-.54-.54zm7.77-7.23h.38c0-.2-.17-.38-.38-.38v.38zM8.37 6.5a.37.37 0 1 0 .76 0h-.76zM3.5.87a.37.37 0 1 0 0 .76V.88zM1.52 9.03l7.5-7.5-.54-.54-7.5 7.5.54.54zm6.86-7.77V6.5h.74V1.25h-.74zm-4.88.38h5.25V.88H3.5v.74z" fill="currentColor"></path></svg>
                </p>
                <p class="m-0">
                    <a class="rounded-pill d-inline-block text-bg-dark d-inline-block text-decoration-none py-1 px-2" href="#" style="font-size: 11px;">Get unlimited access</a>
                </p>
            </div>
        </div>
    </div>
</section>
<%= render 'share/login_nav' %>
<section class="container">
    <div class="row border-bottom">
        <div class="blk col-12 col-lg-8 border mb-5 border-top-0 border-start-0 border-bottom-0 pt-5 pe-3">
            <div class="d-flex mb-3 me-4 justify-content-between align-items-center">
                <div class="d-flex">
                    <%= image_tag "image.jpg",height: 40, class:"rounded-circle" %>
                    <div class="ms-3">
                        <p class="mb-0 fw-bold">Chit Thu Wai</p>
                        <span class="txt-color">Nov 30</span> <span>.</span> <span class="txt-color">7 min read</span> <span>.</span>
                    </div>
                </div>
                <div class="me-4">
                    <a href="#" class="badge rounded-pill bg-danger px-3 py-2 text-decoration-none text-white">Delete</a>
                </div>
            </div>
            <%= image_tag "show.jfif", class:"img-fluid mb-4" %>
            <p class="fs-3 fw-bold mb-4">A Recent Study Debunked The Serotonin Link to Depression</p>
            <p class="lh-lg" style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
            </p>
        </div>
        <div class="col-4 d-none d-lg-block py-5 position-relative">
            <div class="py-5 sidebar px-4">
                <%= image_tag "image.jpg",height: 70, class:"rounded-circle mb-3" %>
                <p class="fs-5 fw-bold m-0 pb-2">Chit Thu Wai</p>
                <p class="txt-color fw-bold">100 Posts</p>
                <p class="txt-color">54+ autistic, undiagnosed dyslexic, sufferer of chronic migraines, writer of dark science fiction, player of Genshin Impact and Mike Pondsmith Fan. Race- Human.</p>
                <div>
                    <p class="fs-5" style="font-weight:500;">More from Medium</p>
                    <div>
                        <% for i in 0..4 %>
                            <div class="row mb-3">
                                <div class="col-9">
                                    <div class="d-flex align-items-center mb-2">
                                        <%= image_tag "image.jpg",height: 20, class:"rounded-circle" %>
                                        <div class="ms-2">
                                            <p class="mb-0">Chit Thu Wai</p>
                                        </div>
                                    </div>
                                    <p class="fw-bold fs-6" style="letter-spacing:1px;">4 Things You Should Know About Kids Who Go No Contact With Their Parents</p>
                                </div>
                                <div class="col-3 d-flex justify-content-end">
                                    <%= image_tag "two.jfif",height: 56,width: 56 %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row pt-4">
        <div class="col-12">
            <p><span class="fw-bold">Comment</span> <span class="badge ms-3 rounded-pill bg-secondary">3</span></p>
            <div class="mx-md-5">
                <%= form_with local: true do |form| %>               
                    <p>
                        <%= form.label :comment , "Here you can left message!" ,class:"mb-2" %><br>
                        <%= form.text_area :comment, :size => "50x3" , class:"form-control w-100 comment-area", placeholder:"What are you thoughts" %>
                    </p>
                    <p class="d-flex justify-content-end"> 
                        <%= form.submit "Comment", class:'btn btn-secondary' %>
                    </p>
                <% end %>
                <div class="mt-4">
                    <% for i in 0..3 %>
                        <div class="mb-5">
                            <div class="d-flex mb-2">
                                <%= image_tag "image.jpg",height: 50, class:"rounded-circle" %>
                                <div class="ms-3">
                                    <p class="mb-0 fw-bold">Chit Thu Wai</p>
                                    <span class="txt-color">2 min ago</span> 
                                </div>
                            </div>
                            <p style="font-weight:500">Good! Thank You</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

