<%= form_with model: @post, local: true do |form| %>
    <%= form.text_field :title , class:"form-control", placeholder:"Post Title" %>
    <span class="mb-4 d-block text-danger fw-bold" style="font-size:14px;"><%= form.object.errors.full_messages_for(:title).to_sentence %></span>

    <%= form.select(:category_id, options_from_collection_for_select(Category.all, :id , :name , @category_id), {include_blank: "Select a category"}, { :class => 'form-select' }) %>
    <span class="mb-4 d-block text-danger fw-bold" style="font-size:14px;"><%= form.object.errors.full_messages_for(:category_id).to_sentence %></span>

    <%= image_tag "" ,id:"", class:"image-preview d-none img-fluid rounded", style:"width:100px;height:100px" %>
    
    <% if form.object.cached_image_data %>
        <%= image_tag form.object.image_url, class:"img-fluid cached-img rounded mb-4", style:"width:100px;height:100px" %>
    <% elsif form.object.image %>
        <%= image_tag form.object.image_url, class:"img-fluid cached-img rounded mb-4", style:"width:100px;height:100px" %>
    <% end %>
    <%= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image, accept:"image/png,image/gif,image/jpeg,image/jpg", id:"imageInput", class:"form-control" %>
    <span class="mb-4 d-block">
        <% if form.object.errors.include?(:image) %>
            <%= form.object.errors.full_messages_for(:image).each do |err| %>
                <span class="text-danger fw-bold" style="font-size:14px;"><%= err %></span>
                <% break %>
            <% end %>
        <% end %>
    </span>

    <%= form.text_area :description, id:"summernote" %>
    <% if form.object.errors.include?(:description) %>
        <%= form.object.errors.full_messages_for(:description).each do |err| %>
            <span class="d-block text-danger fw-bold" style="font-size:14px;"><%= err %></span>
            <% break %>
        <% end %>
    <% end %>

    <%= form.submit 'Publish' , class:"btn mt-4 btn-secondary" %>
<% end %>