<%= form_with model: user, url: '/profile/password',method: :patch, local: false do |form| %>
    <div class="modal-body ps-5">
    <div class="d-flex justify-content-between align-items-center pt-3 mb-5">
        <h1 class="modal-title fs-4" id="image.png">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <%= form.hidden_field :id, class:"user-id", value: current_user.id %>
    <%= form.label :current_password, "Old Password", class:"mb-2" %>
    <%= form.password_field :current_password, id:"currentPassword", class:"w-100 border-start-0 border-end-0 border-top-0 py-2 border-bottom-1", placeholder:"Old Password", style:"outline:none;border-color:#ced4da" %>
    <p id="oldPassword"  class="mb-4 text-danger fs-6 fw-bold"></p>

    <%= form.label :password, "New Password", class:"mb-2" %>
    <%= form.password_field :password, class:"w-100 border-start-0 border-end-0 border-top-0 py-2 border-bottom-1", placeholder:"New Password", style:"outline:none;border-color:#ced4da" %>
    <p id="password" class="mb-4 text-danger fs-6 fw-bold"></p>

    <%= form.label :password_confirmation, "Confirm Password", class:"mb-2" %>
    <%= form.password_field :password_confirmation, class:"w-100 border-start-0 border-end-0 border-top-0 py-2 border-bottom-1", placeholder:"Confirm Password", style:"outline:none;border-color:#ced4da" %>
    <p id="passwordConfirmation"  class="mb-4 text-danger fs-6 fw-bold"></p>

    <div class="d-flex justify-content-end">
        <a href="" class="d-inline-block" data-bs-dismiss="modal" aria-label="Close"><span class="rounded-pill bg-white border border-success text-success d-inline-block me-3 px-4 py-2">Cancel</span></a>
        <%= form.submit 'Save', id: "passSave", class:"passSave rounded-pill bg-success text-white d-inline-block border-0 px-4 py-2" %>
    </div> 
<% end %>
<script>
</script>
