<!DOCTYPE html>
<html>
  <head>
    <title>Medium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <%= yield %>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
            toastr['<%= type %>']('<%= f[1] %>', '', {
              "closeButton": true,
              "positionClass": "toast-top-right", 
              "onclick": null, 
              "showDuration": "300", 
              "hideDuration": "300", 
              "timeOut": "1000", 
              "extendedTimeOut": "1000", 
              "showEasing": "swing", 
              "hideEasing": "linear", 
              "showMethod": "fadeIn", 
              "progressBar": true,
              "hideMethod": "fadeOut" });
        <% end %>
      </script>
    <% end %>
    <% flash.discard %>
  </body>
</html>
